// ********************
// VARIABLES
// ********************

// Colours
$white: #fff;
$black: #282828;
$blue-light: #44445d;
$blue-dark: #000066;
$grey-light: #f2f2f2;
$grey-light2: #f4f4f4;
$grey-dark: #a1a1a1;
$grey-text: #7a7a7a;
$money-bag: #00666c;
$bodak-yellow: #ad923d;

$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-bold: 700;

$dropdown-bg: #dedede;
